// @font-face {
//   font-family: "FontAwesome"; 
//   src: url("./FontAwesome/fa-regular-400.woff2") format("woff2"); 
//   font-style: normal; 
//   font-weight: normal; 
// } 

// @font-face {
//   font-family: "FontAwesome"; 
//   src: url("./FontAwesome/fa-solid-900.woff2") format("woff2"); 
//   font-style: normal; 
//   font-weight: bold; 
// } 

@font-face {
  font-family: "FuturaPT"; 
  src: url("./FuturaPT/FuturaPT-Light.woff2") format("woff2"); 
  font-style: normal; 
  font-weight: 300; 
} 

@font-face {
  font-family: "FuturaPT"; 
  src: url("./FuturaPT/FuturaPT-Medium.woff2") format("woff2"); 
  font-style: normal; 
  font-weight: 400; 
} 

@font-face {
  font-family: "FuturaPT"; 
  src: url("./FuturaPT/FuturaPT-Bold.woff2") format("woff2"); 
  font-style: normal; 
  font-weight: 700; 
} 