.main {
  &__head {
    display: flex;
    width: 100%;
    height: 305px;
    background-image: url('../../assets/image/configuratorBg.png');
    margin-bottom: 103px;
    justify-content: center;
    align-items: end;

    &::before {
      content: '';
      width: 164px;
      height: 164px;
      margin-bottom: -82px;
      background-image: url('../../assets/image/configuratorLogo.png');
    }
  }
  
  &__title {
    text-align: center;
    font-size: 56px;
    margin: 0 25px;
  }
  
  &__about {
    background-color: #E2F3E7;
    padding-bottom: 100px;
    position: relative;
    
    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100px;
      background-image: url('../../assets/image/aboutWave.svg');
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: 50% 0;
      position: absolute;
      bottom: 0;
    }
  }
  
  &__about-wrapper {
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    padding: 54px 25px 17px 25px;
    gap: 42px;
  }

  &__about-title {
    font-size: 40px;
  }

  &__about-main-description {
    margin-top: 45px;
  }

  &__about-main-description,
  &__about-description {
    max-width: 558px;
    font-size: 20px;
    line-height: 31px;
  }

  &__about-description {
    margin-top: 14px;
  }
}

@media screen and (max-width: 1024px) {
  .main {
    &__about-wrapper {
      flex-direction: column;
      align-items: center;
    }

    &__about-wrapper {
      gap: 20px;
    }

    &__about-main-description,
    &__about-description {
      font-size: 16px;
    }
  }
}