.cake {
  &__logo {
    width: 160px;
    height: 150px;
  }
  
  &__description {
    font-size: 20px;
    font-weight: 600; 
    margin: 6px 0;
  }
}

@media screen and (max-width: 768px) {
  .cake {
    &__description {
      font-size: 16px;
      text-align: center;
    }
  }
}