.timeline-checkbox {
  align-items: center;
  margin-bottom: 10px;
  
  &>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

  &>span::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #000;
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50% 50%;
  }

  &>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
    font-size: 15px;
    line-height: 1.55;
  }

  &>input:not(:disabled):not(:checked)+span:hover::before {
    border-color: #b3d7ff;
  }

  &>input:not(:disabled):active+span::before {
    background-color: #b3d7ff;
    border-color: #b3d7ff;
  }

  &>input:focus+span::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &>input:focus:not(:checked)+span::before {
    border-color: #80bdff;
  }

  &>input:checked+span::before {
    border-color: #0b76ef;
    background-color: #0b76ef;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
  }
}