.main {
  &__head {
    display: flex;
    width: 100%;
    min-height: calc(100vh - 60px);
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    align-items: center;
  }

  &__head-wrapper {
    display: block;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    padding: 25px;
  }
  
  &__title {
    max-width: 680px;
    font-size: 50px;
    letter-spacing: 1px;
    line-height: 64px;
    margin-bottom: 40px;
  }

  &__description {
    max-width: 730px;
    font-size: 20px;
    line-height: 34.1px;
    margin-bottom: 105px;
    font-weight: 300;
  }

  &__head-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__about {
    margin-bottom: 45px;
    padding: 166px 25px 30px 25px;
  }

  &__about-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-shrink: 1;
    margin: 0 auto;
    gap: 50px;

    p {
      font-weight: 300;
    }

    &:nth-child(2) {
      gap: 140px;
      margin-top: 110px;
    }
  }

  &__about-row-text {
    max-width: 550px;

    &:nth-child(2) {
      max-width: 430px;
    }
  }

  &__about-title {
    font-size: 40px;
    line-height: 51.7px;
    margin-bottom: 16px;
  }

  &__about-position {
    font-size: 16px;
    line-height: 31px;
    color: #666666;
    margin-bottom: 30px;
  }

  &__line-separator {
    width: 50px;
    height: 3px;
    background-color: #666666;
    border: 1px solid #666666;
    margin-bottom: 30px;
  }

  &__about-text-container {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }

  &__about-text {
    font-size: 20px;
    line-height: 30px;
  }

  &__about-image {
    max-width: 560px;
    max-height: 560px;
    width: 100%;
  }

  &__about-row-images {
    max-width: 560px;
    min-height: 500px;
    width: 100%;
    display: flex;
    position: relative;
  }

  &__about-row-image {
    position: absolute;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 15px 0px;

    &:nth-child(1) {
      width: 326px;
      height: 440px;
    }

    &:nth-child(2) {
      width: 214px;
      height: 257px;
      margin: 86px 0 0 346px;
    }

    &:nth-child(3) {
      width: 342px;
      height: 214px;
      margin: 362px 0 0 111px;
    }
  }

  &__corporate-clients {
    padding: 90px 25px 90px 25px;
    text-align: center;
  }

  &__corporate-clients-title {
    font-size: 40px;
    margin-bottom: 33px;
    line-height: 51.7px;
  }

  &__corporate-clients-description {
    font-size: 21px;
    max-width: 523px;
    margin: 0 auto;
    margin-bottom: 105px;
    line-height: 36px;
    font-weight: 300;
  }

  &__corporate-clients-telephone {
    font-size: 21px;
    line-height: 31px;
    font-weight: 300;
  }

  &__corporate-clients-additionally {
    font-size: 21px;
    max-width: 500px;
    margin: 0 auto;
    line-height: 34.1px;
    font-weight: 300;
  }
}

@media screen and (max-width: 699px) {
  .main {
    &__about-row-images {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      min-height: 0;
    }

    &__about-row-image {
      position: relative;
      max-height: 200px;

      &:nth-child(1) {
        width: calc(50% - 10px);
        height: auto;
        margin: 0;
      }

      &:nth-child(2) {
        width: calc(50% - 10px);
        height: auto;
        margin: 0;
      }

      &:nth-child(3) {
        width: 100%;
        height: auto;
        margin: 0;
      }
    }

    &__about {
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .main {
    &__title {
      font-size: 36px;
      line-height: 40px;
    }

    &__description {
      font-size: 16px;
    }
  }
}