.link-list {
  &__title {
    font-size: 14px;
    margin-bottom: 12px;
    letter-spacing: 1px;
  }

  &__list{
    display: flex;
    gap: 9px;
    flex-direction: column;
  }

  &__list-element {
    font-size: 12px;
  }
}