.cakes {
  max-width: calc(1160px + 50px);
  padding: 105px 25px 138px 25px;
  margin: 0 auto;

  &__title {
    width: 280px;
    margin: 0 auto 72px auto;
    padding-bottom: 21px;
    text-align: center;
    font-size: 20px;
    line-height: 27px;
    color: #222;
    letter-spacing: 1.5px;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    gap: 40px;
  }

  &__list-element {
    width: 160px;
  }
}