.header {
  width: 100%;
  height: 60px;
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index: 10;

  &__wrapper {
    max-width: 1150px;
    width: 100%;
    height: 60px;
    padding: 0 25px;
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  &__logo-img {
    width: 40px;
    height: 40px;
  }

  &__logo-img {
    object-fit: contain;
  }

  &__menu {
    margin: 0 0 0 auto;
  }
  
  &__link-list {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__link {
    font-size: 12px;

    &_telephone {
      font-size: 15px;
    }
  }

  details {
    summary {
      position: absolute;
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    $this: &;
    
    details {
      summary {
        width: 32px;
        height: 32px;
        font-size: 32px;
        display: block;
        right: 22px;
        top: calc(50% - 16px);
        line-height: 32px;
      }
    }

    &__link-list {
      flex-direction: column;
    }

    details[open] {
      #{$this}__link-list {
        width: 100vw;
        height: 100vh;
        top: 60px;
        left: 0;
        padding-top: 10vh;
        background-color: #fff;
        position: absolute;
      }
    }
  }
}