.transparent-link {
  display: block;
  width: fit-content;
  padding: 18px 64px 20px 64px;
  border: 2px solid #fff;
  border-radius: 10px;
  color: white;
  background-color: transparent;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 700;
}